html {

    font-family:sans-serif ;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
}


header {
    padding: 20px;             /* Espacio interior */
    text-align: center;        /* Centrar el texto */
    margin: 0;
    height: 30vh; /* 100% de la altura de la ventana de visualización */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #88a38d; /* Color de fondo opcional */
}

header div {
    width: 1000px; /* Ancho del div */
    padding: 10px; /* Espacio interior */
    background-color: #6b9874; /* Color de fondo del div */
    background-attachment: scroll;
    border: 1px solid #ccc; /* Borde opcional */
    text-align: center; /* Centra el texto dentro del div */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    color: rgb(1, 39, 1);
    font-family: public system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
}

body {
    margin: 0;
    font-family: public system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5; /* Color de fondo de la página */
}

.titulos {
    font-family: public system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    width: 100%; /* Hace que el título ocupe todo el ancho disponible */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.titulos h2 {
    font-size: 1.5em;
    color: #333;
    margin: 0;
}

.container {
    font-family: public system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 10px;
    gap: 20px; /* Espacio entre las tarjetas */
}

.tarjetas {
    background-color: #d3d4d3; /* Color de fondo de la tarjeta */
    border: 1px solid #ddd; /* Borde de la tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    width: 500px; /* Ancho de la tarjeta */
    padding: 10px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}



.tarjetas h4 {
    font-size: 0.8em;
    color: #555;
  
}


.tarjetas h3 {
    color: #375633;
  font-size: 1sem;
    margin-top: 0;
}

/* Estilos generales para el menú de navegación */
nav {
    background-color: #375633;; /* Color de fondo del menú de navegación */
    padding: 10px 0; /* Espaciado arriba y abajo del menú */
    text-align: center; /* Alinea el contenido al centro */
    font-family: public system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* Estilos para la lista dentro del nav */
nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina padding */
    display: inline-block; /* Hace que la lista se alinee horizontalmente */
    font-family: public system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* Estilos para los elementos de la lista */
nav ul li {
    display: inline; /* Hace que los elementos de la lista se muestren en línea */
    margin-right: 20px; /* Añade espacio entre los enlaces */
    font-family: public system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* Estilos para los enlaces dentro del menú */
nav ul li a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    padding: 8px 16px; /* Espaciado interno de los enlaces */
    transition: background-color 0.3s ease; /* Efecto de transición para el fondo */
    font-family: public system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* Estilos para los
